.user-directory{
  display: flex;
  flex-flow: wrap;

}

.user-entry{
  flex: 1 1 18%;
  margin: 1% 2% 1% 2%;
  border: 1px gray solid;
  padding: 0 1% 0 1%;
  width: auto;
}

.user-name{
  color: blue;
}

.available{
  color: red;
}

p{
  width: auto;
}

.user-header{
  display: flex;
}
